@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #a7ffcc !important;

}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #a7ffcc62 !important;
}

.card-title {
    font-size: 24px !important;
}

.btn {
    background-color: #a7ffcc;
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
}

.btn-container {
    display: flex;
    gap: 20px;
}

.score, .score > button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    margin: auto;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.no {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}